<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container">
      <h4>Friends List</h4>
    </div>
  </div>
  <div class="panel-body" id="frindesPanelBody">
    <div class="row">
      <% @friends.each do |user| %>
          <% unless user == current_user %>
              <% if current_user.following?(user) %>
                  <div class="col-md-4">
                    <div class="container">
                      <h4><%= user.name %></h4>
              <span id="follow_user<%= user.id %>">
                <%= link_to(unfriend_friend_path(user), :remote => true, :class => 'btn btn-danger') do %>
                  <i class="icon-remove icon-white"></i>
                  Un-Friend
                <% end %><p></p>
            </span>
                    </div>
                  </div>

              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <tbody>
  <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.fid %></td>
        <td><%= friend.user %></td>
        <td><%= link_to 'Show', friend %></td>
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= link_to 'Destroy', friend, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class: "mybutton btn" %>

</div>
</div>
</div>
</div>
</div>
