<!---start-content---->

<!---start-contact---->
<div class="contact">
  <div class="wrap">
    <div class="section group">
      <div class="col span_1_of_3">
        <div class="contact_info">
          <h3>Find Us Here</h3>
          <div class="map">
            <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe>
            <br>
            <small>
              <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:0.85em">View
                Larger Map</a></small>
          </div>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="contact-form">

          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put,:multipart => true}) do |f| %>
              <%= devise_error_messages! %>
              <div class="field form-group">
                <%= f.label :name %><br/>
                <%= f.text_field :name, autofocus: true ,class:"textbox form-control"%>
              </div>
              <div class="field form-group">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true,class:"textbox form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field form-group">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
                <%= f.password_field :password, autocomplete: "off" ,class:"textbox form-control"%>
              </div>

              <div class="field form-group">
                <%= f.label :password_confirmation %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "off",class:"textbox form-control" %>
              </div>

              <div class="field form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
                <%= f.password_field :current_password, autocomplete: "off" ,class:"textbox form-control"%>
              </div>

              <div class="field form-group">
                <%= image_tag(current_user.image.url) %>
                <%= f.label :remove_image do %>
                <%= f.check_box :remove_image %>
                <%= f.hidden_field :image_cache%>
                <%= f.label :image %>
                <%= f.file_field :image %>
                <% end %>
              </div>

              <div class="actions">
                <%= f.submit "Update" ,class:"mybutton"%>
              </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete,class:"mybutton" %></p>

          <%= link_to "Back", :back,class:"mybutton" %>
        </div>
      </div>
    </div>
  </div>
</div>